*{
    text-decoration: none;
    margin-top: 0;
    border-radius: 8px;
    
}

body{
    background-color: #f5e2ef;
    background-image: linear-gradient(pink, purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    color: #000000;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 0;
}

a{
    color: #ffffff;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    margin: 0;
    color: #000000;
}

h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    margin: 0;
    color: #ffffff;

}

.button{
    background-color: #5c014f;
}

.image{
    width: 300px;
    border-radius: 8px;
    justify-content: flex-start;
    height: auto;
    
}

.hero{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    justify-content: space-between;
    text-align: end;
    margin-top: 0;
    column-gap: 30px;
    margin-bottom: 0px;
 

}

@media (max-width:428px) {
    .hero{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact-hero-link{
        flex-direction: column;
        text-align: justify;
    }
}

.hero-content-text{
color: #000000;
justify-content: flex-end;
margin: 0;
padding: 0;
text-align: center;
margin-top: 0;

}

.menu {
    display: block; /* Hide the menu by default */
    list-style: none;

   }
   .menu.expanded {
     display: block;
   }
   .hamburger {
     display: none; /* Hide the hamburger button by default */
   }
   
   @media (max-width: 428px) {
     .menu {
       display: none; /* Show the menu on smaller screens */
     }
     .hamburger {
       display: block; /* Show the hamburger button on smaller screens */
     }
   }

/* header{
    margin-top: 0;
    background-color: #000000;
    padding-top: 10px;
    height: 50px;
    font-size: 25px;
    display: flex;
    color: #ffffff;
    justify-content: left;
    justify-content: space-around;
    border-radius: 0%;
   
} */


.contact-hero-link{
    background-color: #5c014f;
    color: #000000;
    padding: 20px;
    margin-top: 0px;
    margin-left: 200px;
    width: 100px;
    color: #000000;
    border-radius: 8px;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 30px;
  
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 600px;
    

}

@media (max-width: 428px) {
    .form{
        flex-wrap: wrap;
    }
    .form-image{
        flex-wrap: wrap;
    }
}

.form-image{
    display: flex;
    justify-content: flex-start;
    width: 300px;
    border-radius: 8px;
    max-width: 100%;
height: auto;
}

.featured{
    background-color: #000000;
    color: #ffffff;
    flex-wrap: nowrap;
   margin: 0;
    text-align: center;
    border-radius: 0%;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-bottom: 0px;

}

.featured-images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    row-gap: 40px;
    margin-left: 150px;
    margin-right: 150px;
    flex-wrap: wrap;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    

}

@media (max-width: 428px) {
    .featured{
        flex-wrap: wrap;
        
    }
    .featured-images{
        flex-wrap: wrap;
        display: contents;
        
    }
}

.thank-you{
    text-align: center;
    font-size: 300px;
    margin-top: 200px;

    
}

